    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
    * {
        box-sizing: border-box;
        font-family: Raleway;
        font-size: medium;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    .nav ul {
        margin: 0;
    }
    
    .nav li {
        display: inline;
    }
    
    .nav a {
        display: inline-block;
        padding: .5em;
        color: rgb(9, 20, 59);
        text-decoration: none;
    }
    
    .main-nav {
        text-align: center;
        font-size: .15em;
        font-weight: lighter;
        border-top: 6px solid rgba(255, 255, 255, 0.849)
    }
    
    .main-nav li {
        padding: 0 5%;
    }
    
    .main-header {
        padding-bottom: 50px;
    }
    
    .site-name {
        text-align: center;
        margin: 10;
        font-family: fantasy;
        font-weight: bold;
        color: black;
    }
    
    .site-name-large {
        font-size: 4em;
    }
    
    .about-site-image {
        float: right;
        height: 400px;
        width: 400px;
        margin: 15px;
    }
    
    .about-size {
        font-size: 6mm;
        padding-left: 12mm;
        word-spacing: .5mm;
    }
    
    .background-color {
        background-image: url("Images/g1.jpg");
        background-size: cover;
    }